<nav>
  <a href="/">Home Page</a>
  <a href="/money"> Money Index </a>
  <a href="/shares"> Shares Index</a>
  <a href="/money/new"> Money New Post</a>
  <a href="/shares/new"> Shares New Post</a>
</nav>
