<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script src="css/bootstrap-3.3.7-dist/js/bootstrap.min.js" charset="utf-8"></script>
  <!-- <script src="js/app.js" charset="utf-8"></script>
  <script src="js/jquery-3.3.1.min.js" charset="utf-8"></script> -->
  <link rel="stylesheet" href="css/main.css">
</head>
  <body>

    <div class="container">
      <%= erb(:'partials/nav') %>
      <div class="row">

        <%= yield %>
      </div>

    </div>

  </body>
</html>
